.footer {
	border-radius: 5px;
	width: 100%;
	padding: 10px;
  /*padding-bottom: 20px;*/
	height: 80px;
  /*margin: 0px;*/

}

.floatBottom {
  border: 1px solid #CCC;
  position: absolute;
  bottom: 0px;
}

.bodywrapper {
	min-height: 100%;
	max-height: 100%;
}


/*here before*/
html {
	height: 100%;
}
body {
        padding-top: 20px;
        /*padding-bottom: 60px;*/
        height:100%;
        /*background: #AAA;*/
      }

      /* Custom container */
      .container {
      	position: relative;
        margin: 0 auto;
        max-width: 1000px;
        /*height: 100%;*/
        min-height: 100%;
        /*padding-bottom: 70px;*/
      }
      .container > hr {
        margin: 60px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }


      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }
      object {
        width: 100%;
      }

.blogContent {
    position: relative;
    max-height: 135px;
    overflow: hidden;
}

.blogContent::before {
    background-image: linear-gradient( top, 
            rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background-image: -moz-linear-gradient( top, 
            rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background-image: -ms-linear-gradient( top, 
            rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background-image: -o-linear-gradient( top, 
            rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background-image: -webkit-linear-gradient( top, 
            rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
    content: "\00a0";
    height: 30%;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.blogelement {
  margin-top: 20px;
      border-bottom: 1px solid #DDD;

}